<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Keitaro pinned posts</title>
  </head>
  <body>
   <div class="jumbotron">
  <h1 class="display-4">Keitaro pinned posts</h1>
      <div id="messages">
        <pre>{{ text }}</pre>
    </div>
  <p class="lead">
    <a class="btn btn-primary btn-lg" onclick="location.reload()" role="button">View more posts</a>
  </p>
</div>
  </body>
</html>


